 @font-face{
font-family: velvet;
src: url(fonts/comic.ttf);
font-family:  velvet;
src: url(fonts/velvet_regular.ttf);
font-family:  Boring Lesson;
src: url(fonts/BoringLesson.ttf);
font-family:  Ribbon Heart;
src: url(fonts/RibbonHeart.ttf);
}
	p{
		text-indent: 5%; /*Отступ первой строки.*/
		
	}
	
	body{
	background-color: #c7b39b;
	background-image:url('http://uknd.com.ua/content/mambo/1.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover;
}

#zag{
	text-align: center;
	font-family: Boring Lesson;
	color: #ffd452;
	font-size: 70px;
	text-shadow: 2px 2px 5px red;
	font-weight: 200;
	}
#zag a{
	font-size: 80px;
	text-decoration: none;
	color: #ffd452;
	font-family: Boring Lesson;
	}

.nav{
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 2px solid #cc3300;
   border-radius: 2px 2px 2px 2px;
   width: 100%;
   
      text-align: center;
   background-color: #ff5c33;
   
}

.nav li {
	display: inline;
}
.nav li a{
	display: inline-block;
	text-decoration: none;
	color: #ffd452;
	padding: 5px;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 2px 2px 2px black;
	}
.nav a:hover {
	transition: 1s;
        border-radius: 2px;
        background-color: #cc3300;
      }
	  /*----------------blok privetstviya-------------*/
 #glavnaya {
	 	 position: absolute;
       	margin-left: 10%; /*отступы*/
		margin-right: 10%;
		margin-top: 2%;
		  padding: 20px; /* Поля вокруг текста */
		  border: 2px solid #cc3300; /* Параметры границы */
		  border-radius: 5px 5px 5px 5px; /*radius obramki*/
		  background-image: linear-gradient(rgba(255,92,51,.9), rgba(255, 212, 82,.5)); /* gradient + prozra4nost*/
		width: 80%; /*ширина блока*/

	
	  }
	#glavnaya h2{
		color: #ffd452;
		text-align: center;
		text-shadow: 2px 2px 5px black;
		font-family: velvet;
	}  
 #text1{
	text-indent: 10px;
	font-weight: 200;
	font-size: 1.3em;
	text-align: center;
		font-family: «Lato», Georgia, Arial, sans-serif;
	 line-height: 1.3; /*междустрочный интервал*/
	 margin: 0% 40% 0% 4%; /*верх право низ лево*/
	 color: #331a00;	
	text-shadow: 1px 1px 1px #cc3300;
}	
.img1 {
    border: 2px solid #ffd452;
    width: 300px;
	float: right;
	/*margin-left: 50px;*/
	margin: 0% 0% 0% 0%;
	margin-right: -65%;
	padding: 5px;
	-webkit-transform: rotate (20eg);
} 
  .img2 {
	  
    border: 2px solid #ffd452;
    width: 300px;
	float: right;
	padding: 5px;
		margin: 15% -65% 0% 5%;
	
  }
